<div class="header">
    <div class="topper">
        <h2 class="title_nav">Cars</h2>
        <div class="search">
            <input type="search" name="" id="" placeholder="Search">
        </div>
        <div class="itens_nav">
            <a href="/" class="link_nav">Home</a>
            <a href="" class="link_nav">Profile</a>
            <a href="/cars" class="link_nav">Cars</a>
        </div>
    </div>
</div>