<div class="container">
    <div class="row ">
        <div class="card w-50" style="margin: 0 auto;">
            <div class="card-body">
                <form action="" method="post" class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Username...">
                    <label for="password">password:</label>
                    <input type="text" class="form-control" name="password" id="password" placeholder="password...">
                    <button class="btn btn-success mt-4">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>